<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(224, 200, 200)
        }

        .height-100 {
            height: 100vh
        }

        .card {
            width: 400px;
            border: none;
            height: 300px;
            box-shadow: 0px 5px 20px 0px #d2dae3;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center
        }

        .card h6 {
            color: red;
            font-size: 20px
        }

        .inputs input {
            width: 40px;
            height: 40px
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0
        }

        .card-2 {
            background-color: #fff;
            padding: 10px;
            width: 350px;
            height: 100px;
            bottom: -50px;
            left: 20px;
            position: absolute;
            border-radius: 5px
        }

        .card-2 .content {
            margin-top: 50px
        }

        .card-2 .content a {
            color: red
        }

        .form-control:focus {
            box-shadow: none;
            border: 2px solid red
        }

        .validate {
            border-radius: 20px;
            height: 40px;
            background-color: red;
            border: 1px solid red;
            width: 140px
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to</span> <small>*******9897</small>
                </div>
                <form action="/checkotpre" method="POST">
                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                        <input class="m-2 text-center form-control rounded" type="text" name="val1" id="first"
                            maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="val2" id="second"
                            maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="val3" id="third"
                            maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="val4" id="fourth"
                            maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="val5" id="fifth"
                            maxlength="1" />
                        <input class="m-2 text-center form-control rounded" type="text" name="val6" id="sixth"
                            maxlength="1" />
                    </div>
                    <% if(typeof message !=='undefined' ){ %>
                        <p style="color:#069617">
                            <%= message %>
                        </p>
                        <% } %>
                            <div class="mt-4"> <input type="submit" value="Validate"
                                    class="btn btn-danger px-4 validate"></div>
            </div>
            </form>
            <div class="card-2">
                <div class="content d-flex justify-content-center align-items-center">
                    <span>Didn't get the code</span> <a href="/resendotp"
                        class="text-decoration-none ms-3">Resend(1/3)</a>
                </div>
                <div class="text-center mt-4">
                    <span class="d-block mobile-text text-danger fw-bold fs-3 " id="countdown"></span>
                    <a href="/resendotp"><span class="d-block  mobile-text" id="resend"></span></a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        function OTPInput() {
            let inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
        } OTPInput();

    });
</script>
<script>
    let timerOn = true;
    function timer(remaining) {
        var m = Math.floor(remaining / 60);
        var s = remaining % 60;
        m = m < 10 ? "0" + m : m;
        s = s < 10 ? "0" + s : s;
        document.getElementById("countdown").innerHTML = ` ${m} : ${s}`;
        remaining -= 1;
        if (remaining >= 0 && timerOn) {
            setTimeout(function () {
                timer(remaining);
            }, 1000);
            document.getElementById("resend").innerHTML = `
        `;
            return;
        }
        if (!timerOn) {
            return;
        }
        document.getElementById("resend").innerHTML = `
      <span class="fw-bold cursor" onclick="timer(10)">Resend Otp
      </span>`;


    }
    timer(30);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>